
.PokemonCard{
    position: relative;
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 200px;
    margin-bottom: 16px;
    border-radius: 4px;
    text-decoration: none;
}

.PokemonCard img{
    height: 80px;
}
.pokemon-number{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    border-radius: 4px;
    padding: 4px;
}

.pokemon-name{
    text-transform: capitalize;
}